<div class="avatar avatar-<%= avatar.theme || avatar %> <%= size ? `avatar-${size}` : '' %>">
  <span class="avatar-hair"></span>
  <span class="avatar-face"><span class="avatar-eyes"></span><span class="avatar-smile"></span></span>
  <span class="avatar-badge"><%= avatar.symbol || '✦' %></span>
</div>

